body {
    background-color: aliceblue;
}

.main-wrapper {
    width: 100%;
}

.scene {
    background-color: antiquewhite;
    outline: 2px solid black;
    position: relative;
    margin: 0 auto;
    top: 100px;
}

.cell {
    pointer-events: none;
    outline: 1px solid black;
    position: absolute;
}

.circle {
    background: transparent url(../images/circle.svg) center center no-repeat;
}

.square {
    background: transparent url(../images/square.svg) center center no-repeat;
}

.triangle {
    background: transparent url(../images/triangle.svg) center center no-repeat;
}

.shape {
    position: absolute;
    transition: background-color 0.3s ease;
}

.shape_hover:hover {
    cursor: pointer;
}

.shape_hover:hover:not(.shape_selected) {
    background-color: lightgrey;
}

.shape_selected {
    background-color: cadetblue;
}

.score-wrapper {
    position: absolute;
    display: inline-block;
    font-size: 36px;
    color: black;
}